---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Archive" currentPage="Archive">
  <section class="explore-header">
    <h2>Archive<span class="sub-title">RELIVE THE PAST</span></h2>
  </section>
  <div class="line"></div>
  <h3 class="title">LEGACY DECKS</h3>
  <div class="line"></div>
  <section class="explore-grid" id="explore"></section>
  <section>
    <div class="grid_1_1_1">
      <div class="grid-item">
        <img
          src="/images/masterCollection.webp"
          alt="Master collection box set"
        />
      </div>
      <div class="grid-item">
        <img src="/images/flower_deck.webp" alt="Flower card deck" />
      </div>
      <div class="grid-item">
        <img src="/images/holoError.webp" alt="Flower card deck" />
      </div>
    </div>
  </section>
  <section>
    <div class="grid_1_1_1">
      <div class="grid-item">
        <img src="/images/ambient_deck.webp" alt="ambient card deck" />
      </div>
      <div class="grid-item">
        <img src="/images/cymbal_deck.webp" alt="cymbal card deck" />
      </div>
      <div class="grid-item">
        <img src="/images/brush_deck.webp" alt="Brush card deck" />
      </div>
    </div>
  </section>
  <section>
    <div class="grid_1_1_1">
      <div class="grid-item">
        <img src="/images/fivetwo_deck.webp" alt="FiveTwo card deck" />
      </div>
      <div class="grid-item">
        <img src="/images/gilded_deck.webp" alt="Gilded card deck" />
      </div>
      <div class="grid-item">
        <img src="/images/holoError2_deck.webp" alt="Holo Error card deck" />
      </div>
    </div>
  </section>
  <section>
    <div class="grid_1_1_1">
      <div class="grid-item">
        <img src="/images/holosepal_deck.webp" alt="Holo Sepal card deck" />
      </div>
      <div class="grid-item">
        <img
          src="/images/originalError_deck.webp"
          alt="Original Error card deck"
        />
      </div>
      <div class="grid-item">
        <img
          src="/images/originalFivetwo_deck.webp"
          alt="Original Five Two card deck"
        />
      </div>
    </div>
  </section>
  <section>
    <div class="grid_1_1_1">
      <div class="grid-item">
        <img src="/images/offworld_deck.webp" alt="Off World card deck" />
      </div>
      <div class="grid-item">
        <img
          src="/images/originalSepal_deck.webp"
          alt="Original Sepal card deck"
        />
      </div>
      <div class="grid-item">
        <img src="/images/s&m_deck.webp" alt="Original Five Two card deck" />
      </div>
    </div>
  </section>
</MainLayout>

<style>
  /* Global styles */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  /* Explore Header */
  .explore-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
  }

  .explore-header h2 {
    font-size: 4.4rem; /* Larger title size */
    margin: 0; /* Remove margin from h2 */
  }

  .explore-header .sub-title {
    display: block; /* Make the subtitle a block element to go to a new line */
    font-size: 0.6rem; /* Smaller size for the subtitle */
    margin-top: 10px; /* Space between the title and subtitle */
    color: #6e6e6e; /* You can change the color */
    font-weight: normal; /* Adjust the weight if needed */
    position: relative;
    left: 32.5%;
    margin-top: -4%;
  }

  .title {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    font-weight: 100;
    font-size: medium;
  }

  /* Grid Styles */
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
    gap: 2px;
    padding: 0 10px;
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 0.2%;
  }

  .grid-item {
    background-color: #f8f8f8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  /* Media Queries */

  /* Tablet view */
  @media (max-width: 768px) {
    .explore-header h2 {
      font-size: 2.5rem;
    }

    .explore-header .sub-title {
      font-size: 0.9rem;
    }

    .grid_1_1_1 {
      grid-template-columns: repeat(1, 1fr); /* 2 columns on tablet */
      gap: 10px;
    }

    .title {
      font-size: 1.2rem;
    }
  }

  /* Mobile view */
  @media (max-width: 480px) {
    .explore-header h2 {
      font-size: 2rem;
    }

    .explore-header .sub-title {
      font-size: 0.8rem;
    }

    .grid_1_1_1 {
      grid-template-columns: 1fr; /* Single column on mobile */
    }

    .grid-item img {
      width: 100%;
      object-fit: contain; /* Ensure images fit in smaller boxes */
    }

    .title {
      font-size: 1rem;
    }
  }
</style>
