---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";

const heroImages = [
  { src: "/images/mona_lisa2.webp", alt: "Mona Lisa with Cards 1" },
  { src: "/images/mona_lisa3.webp", alt: "Mona Lisa with Cards 2" },
  { src: "/images/mona_lisa1.webp", alt: "Mona Lisa with Cards 3" },
];
---

<MainLayout title="Home">
  <!-- <ProductPage /> -->
  <Hero
    images={heroImages}
    title="dealersgrip©"
    subtitle={[
      "Crafted for the bold, designed for ",
      "the refined cards reimagined",
    ]}
  />
  <section class="latest-section">
    <div class="line"></div>
    <h2>LATEST DECKS</h2>
    <div class="line"></div>
    <!-- Line between header and categories -->

    <div class="latest-grid">
      <Card
        title="OLIVER"
        imageSrc="/images/oliver.webp"
        href="/decks/oliver"
        alt="Oliver"
        price="25$"
      />
      <Card
        title="SMOKE & MIRROR RED EDITION"
        imageSrc="/images/smred.webp"
        href="/decks/smred"
        alt="SMOKE & MIRROR RED EDITION"
        price="18$"
      />
      <Card
        title="SMOKE & MIRROR BLUE EDITION"
        imageSrc="/images/smblue.webp"
        href="/decks/smblue"
        alt="SMOKE & MIRROR BLUE EDITION"
        price="18$"
      />
      <Card
        title="SMOKE & MIRROR GARDEN EDITION"
        imageSrc="/images/smgarden.webp"
        href="/decks/smgarden"
        alt="SMOKE & MIRROR Garden EDITION"
        price="18$"
      />
    </div>
  </section>
  <div class="line" style="margin: 0 auto;"></div>

  <!-- New Section -->
  <section class="nostalgia-section">
    <div class="line" style="margin: 0 auto;"></div>
    <div class="nostalgia-grid">
      <!-- Left Column -->
      <div class="nostalgia-item">
        <h2>Feeling nostalgic?</h2>
        <p>
          Dive into our extensive archive of past decks and relive some of the
          most iconic card designs we've ever produced. Whether you're
          revisiting an old favorite or discovering something new, there's
          always something nostalgic waiting for you.
        </p>
        <a href="/" class="nostalgia-button">Explore the Archive</a>
      </div>

      <!-- Right Column -->
      <div class="nostalgia-item">
        <h2>Your path begins today</h2>
        <p>
          Our primary aim is to strengthen cardistry culture, challenge industry
          norms, and re-explore playing cards as a self-standing object of
          artistic expression in the modern world.
        </p>
        <a href="/" class="nostalgia-button">Learn more here</a>
      </div>
    </div>
    <div class="line" style="margin: 0 auto;"></div>
  </section>

  <!-- New Section -->
  <section class="event-section">
    <div class="line" style="margin: 0 auto;"></div>
    <div class="event-grid-3-2">
      <img
        id="events_img"
<<<<<<< HEAD
        src="/images/events_img.webp"
=======
        src="/public/images/events_img.webp"
>>>>>>> Oliver-Forside-Extension
        alt="Dealersgrip events 2024"
      />
      <div id="events_intro">
        <h1>EUROPE JAM TOUR 2024</h1>
        <br />
        <p>
          Join us for cardistry jams in cities across Europe! Featuring Oliver
          Sogard and organized by dealersgrip.
        </p>
        <br />
        <p>- Learn new moves</p>
        <p>- Meet local cardists</p>
        <p>- Select dealersgrip decks available</p>
        <br />
        <p>All cardists welcome. Exact times and locations below.</p>
        <br />
        <p>Let's shuffle some cards - See you soon!</p>
        <br />
      </div>
      <div id="events_nov">
        <h2>November 2024</h2>
        <br />
        <p>Nov 23 - London, United kingdom</p>
        <p style="margin-left: 20px;">Time: 13:00</p>
        <p style="margin-left: 20px;">
          Location: Barbican Centre, Espresso Bar
        </p>
        <br />
        <p>Nov 24 - Paris, France</p>
        <p style="margin-left: 20px;">Time: 14:00</p>
        <p style="margin-left: 20px;">Location: Ground Control, Le Douglas</p>
        <br />
        <p>Nov 30 - Berlin, Germany</p>
        <p style="margin-left: 20px;">Time: 14:00</p>
        <p style="margin-left: 20px;">Location: Spreegold Bikini Berlin</p>
        <br />
        <br />
        <br />
      </div>
      <div id="events_dec">
        <h2>December 2024</h2>
        <br />
        <p>Dec 1 - Utrecht, Netherlands</p>
        <p style="margin-left: 20px;">Time: 12:00</p>
        <p style="margin-left: 20px;">Location: Kitchen Bar Danel</p>
        <br />
        <p>Dec 14 - Milan, Italy</p>
        <p style="margin-left: 20px;">Time: 12:00</p>
        <p style="margin-left: 20px;">Location: CityLife Shopping District</p>
        <br />
        <p>Dec 15 - Barcelona, Spain</p>
        <p style="margin-left: 20px;">Time: 14:00</p>
        <p style="margin-left: 20px;">Location: Café Palau</p>
      </div>
    </div>
  </section>
</MainLayout>

<script src="/src/script/scrolleffect.js"></script>
