---
import ProductCard from "./ProductCard.astro";

const products = [
  { name: "Oliver", price: 255, image: "/images/collection4.jpg" },
  {
    name: "Smoke & Mirror Red Edition",
    price: 185,
    image: "/images/collection1.jpg",
  },
  {
    name: "Smoke & Mirror Blue Edition",
    price: 185,
    image: "/images/collection2.jpg",
  },
  {
    name: "Smoke & Mirror Garden Edition",
    price: 185,
    image: "/images/collection3.jpg",
  },
  // Repeat products for demo purposes
];
---

<div class="product-page">
  <header>
    <h1>Our Products</h1>
  </header>
  <section class="product-grid">
    {products.map((product) => <ProductCard {...product} />)}
  </section>
</div>

<style>
  .product-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
  }

  header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
  }
</style>
